<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
            <style>
               .icon-block {
                    padding: 0 15px;
                }
                .icon-block .material-icons {
                    font-size: inherit;
                }
            </style>
        {% endblock %}
    </head>
    <body>
        <nav class="light-blue lighten-1" role="navigation">
            <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">GitHub API</a>
                <ul class="right hide-on-med-and-down">
                    <li {% if app.request.get('_route') == 'branches' %} class="active"{% endif %}><a href="{{ path('branches') }}">Branches</a></li>
                    <li {% if app.request.get('_route') == 'commits' %} class="active"{% endif %}><a href="{{ path('commits') }}">Commits</a></li>
                    <li {% if app.request.get('_route') == 'contributors' %} class="active"{% endif %}><a href="{{ path('contributors') }}">Contributors</a></li>
                </ul>

              <ul id="nav-mobile" class="side-nav">
                <li {% if app.request.get('_route') == 'branches' %} class="active"{% endif %}><a href="{{ path('branches') }}">Branches</a></li>
                <li {% if app.request.get('_route') == 'commits' %} class="active"{% endif %}><a href="{{ path('commits') }}">Commits</a></li>
                <li {% if app.request.get('_route') == 'contributors' %} class="active"{% endif %}><a href="{{ path('contributors') }}">Contributors</a></li>
              </ul>
              <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>
 
        {% block body %}{% endblock %}
         
        {% block javascripts %}
            <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
            <script>
                $( document ).ready(function() {
                    $(".button-collapse").sideNav();
                });
            </script>
        {% endblock %}

    </body>
</html>
